*{
    padding: 0;
    margin: 0;
    /*border: solid 1px #000;*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#main-container header #menu{
    padding: 50px;
}

header #menu ul{
    margin: 0;
    padding: 0;
}

header #menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

header #menu ul li a{
    color: rgb(64, 73, 104);
    text-decoration: none;
}

header #menu ul li a:hover{
    text-decoration: underline;
}

header #menu button{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    margin-left: 400px;
    background-color: rgb(243, 96, 59);
    border: 0;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 20px 25px;
    font-size: medium;
}

header #menu ul #logo{
    margin-right: 20%;
    margin-left: 50px;
}

/* ********************************************************************** */

#main-container header main{
    width: 1600px;
    margin: 0 auto;
}

#main-container header main div{
    padding: 20px;
    width: 600px;
    display: inline-block;
    vertical-align: middle;
}

#main-container header main .text h1{
    color: rgb(64, 73, 104);
    font-size: 60px;
}

#main-container header main .text p{
    font-size: 24px;
    padding: 20px 0;
}

button{
    background-color: rgb(243, 96, 59);
    border: 0;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 20px 25px;
    margin: 10px 0;
    font-size: medium;
}

#main-container header main .image{
    text-align: right;
    width: 800px;
}

/* ******************************************************* */

header #two-main{
    width: 1600px;
    margin: 0 auto;
}

#main-container header section div{
    padding: 20px;
    width: 600px;
    display: inline-block;
    vertical-align: middle;
}

header #two-main #main-left{
    padding: 50px;
    margin-bottom: 250px;
}

#two-main #main-left h1{
    font-size: 40px;
}

#two-main #main-left p{
    font-size: 18px;
    padding: 20px 0;
    margin-right: 40%;
}

header #two-main #main-right{
    padding-top: 100px;
    padding-left:  160px;
}
